.ant-layout-header {
  display: flex;
}

.ant-layout {
  width: 100%;
  min-height: 100vh;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ant-row {
  overflow: hidden;
}

.ant-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.h100 {
  min-height: calc(100vh - 64px);
}