.ant-layout-header {
  display: flex;
}

.ant-layout {
  width: 100vw;
}

.ant-row {
  overflow: hidden;
}

.ant-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.h100 {
  min-height: calc(100vh - 64px);
}